@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.bg-neutral-800::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.bg-neutral-800 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
